.posts {
  background-color: black;
  height: 100vh;
}

.posts-wrapper {
  padding: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: calc(100vh - 200px);
  overflow-x: scroll;
}
@media only screen and (max-width: 450px) {
  .posts-wrapper{
    margin-top: 2rem;
  }
}
