.post-detail {
  color: white;
}
.text-wrapper {
  height: calc(100vh - 200px);
  overflow-x: scroll;
}
.detail-title {
  color: white;
  text-align: center;
  font-size: 40px !important;
  text-transform: capitalize;
}
.detail-text {
  padding-inline: 100px;
  font-size: large;
  line-height: 2;
}
@media only screen and (max-width: 450px) {
  .detail-text {
    padding: 0;
    padding-inline: 50px;
  }
  .detail-data-wrapper {
    padding: 0;
    padding-inline: 50px;
  }
}
.exit-button-wrapper {
  display: block;
  width: 100%;
  height: 30px;
}
.exit-button {
  float: right;
  color: white;
  text-decoration: none;
  padding: 1rem;
  transition: 0.3s;
}

.exit-button:hover {
  transform: rotate(90deg);
}

.detail-data-wrapper {
  display: flex;
  flex-direction: row;
  padding-inline: 100px;
}
.data-detail {
  padding-right: 20px;
  text-transform: capitalize;
  margin-top: 1rem;
}
@media only screen and (max-width: 450px) {
  .detail-text {
    padding: 0;
    padding-inline: 50px;
  }
  .detail-data-wrapper {
    padding: 0;
    padding-inline: 50px;
  }
}
