.video-container {
  width: auto;
  border-radius: 20px;
}
@media only screen and (max-width: 900px) {
  .video-container {
    margin-top: 1rem;
  }
}

.iframe {
  width: 350px;

  border-radius: 20px;
}
.video {
  width: 350px;
  height: auto;
  border-radius: 20px;
}
